aiofiles==0.7.0
aiohttp==3.7.4.post0
altgraph==0.16.1
async-timeout==3.0.1
attrs==21.2.0
certifi==2018.1.18
chardet==3.0.4
Click==7.0
future==0.18.2
idna==2.6
iso8601==0.1.12
m3u8==0.3.5
multidict==5.1.0
packaging==20.9
pefile==2021.5.24
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pyparsing==2.4.7
PySide2==5.15.2
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.18.4
shiboken2==5.15.2
sip==6.1.0
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.22
yarl==1.6.3
